@import "compass";
@import "compass/typography/vertical_rhythm";


// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Libre Baskerville', serif;
$base-font-weight: $regular;
$base-font-size: 15px;
$base-line-height: 1.4em;

$round-to-nearest-half-line: true;

//sans-serif
$serif-font-family: 'Source Sans Pro', sans-serif;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;


@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");
